body{
    margin: 0;
    background: #eee;
    display: flex;
    flex-direction: column;
}
p{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}

.header{
    display: flex;
    background: #1F2937;
    padding: 20px 150px 20px 150px;
}
.links{
    display: flex;
    gap: 8px;
    margin-left: auto;
}

.logo{
    color: #f9faf8;
    font-size: 24px;
    align-self: center;
}

.hero{
    background: #1F2937;
    border: 20px;
    border-color: red;
    color: #f9faf8;
    display: flex;
    flex: 1;
    align-items: flex-start;
    /*justify-content: space-evenly;*/
    padding: 20px 150px 20px 150px;
    
}

.text{
    /*display: flex;*/
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
   
}

.sign-up{
    margin-top: 20px;
    background:#3882f6;
    color: #f9faf8;
    font-weight: bold;
    border: 0;
    width: 100px;
    height: 30px;
    border-radius: 10px;
}

.hero-main-text{
    font-size: 48px;
    font-weight: bolder;
}


.image{
    display: flex;
    flex-basis: 50%;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 200px;
    background: #E5E7EB;
    color: black;
}

.title{
    margin-top: 25px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    justify-content: center;
    
}

.container{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 70px;
}

.container-1,
.container-2,
.container-3,
.container-4{
    gap: 20px;
    width: 150px;
    height: 150px;
    background: #3882f6;
    border-radius: 10px;

}

.text-container{
    flex-wrap: wrap;
    margin-top: 170px;
}

.quote{
    margin-top: 100px;
    background: #E5E7EB;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-text{
    font-size: 36px;
    color: #1F2937;
}

